<html>
<head>
<title>Sistema de Recomendacion - Perfumes</title>
</head>
<body>
{% include 'header.html' %}
<h1>Bienvenido al Sistema de Recomendación de Alberto Rubio!!!</h1>
<p>
Se desea construir una pagina web, que permita recomendar a usuarios perfumes en función de las puntuaciones que han dado otros usuarios a los perfumes y los gustos de estos.
<br>Construyendo el modelo de datos en Django que almacene la informacion siguiente:
<br><br>
a)	Usuario: Id, Año, País.<br>
b)	Perfumes: Id, Nombre, Cantidad, Precio<br>
c)	Puntuacion: Usuario, Perfume, Puntuación.
Las puntuaciones son numericas entre 1 y 10.
</p>
</body>
</html>